# Xojo (formerly REALbasic and Real Studio)

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete*
test-data/clDataPool_tests.test_io_001
test-data/clDataPool_tests.test_io_003
test-data/clDataTable_tests.test_io_001
test-data/clDataPool_tests.test_io_004
